<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolv-e</title>

    <link type="text/javascript" src="./index.js"/>
    <link type="text/javascript" src="./canvas.js"/>

    <style>
        body{
            margin: 0
        }
    </style>
</head>
<body>
    <canvas></canvas>
</body>

<script>
    const canvas = document.querySelector("canvas")

    canvas.style.height = "50px"
    canvas.style.backgroundColor = "red"

</script>
</html>