* {
    box-sizing: border-box;
}

body{
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}

canvas {
    background-color: #F9F4EA;
}
#painel{
    width: 485px;
    height: 800px;
    background-color: rgb(251, 249, 245);
    display: inline-block;
    vertical-align: top;
    padding-top:20px;
}
#info{
    width: 290px;
    height: 300px;
    background-color: white;
    margin: 0 auto;
}
.cronometro {
    position: absolute;
    bottom: 0;
    left: 0;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }